body {
	margin-bottom: 80px;
}
span{
	color:red;
}
legend{
	text-align:center;
	}

form{
	align:center ;
	
}
#login{
	text-align:right;
}


.carousel-inner{
	height:400px;
}
.carousel-inner > .item > img {
    margin: 0 auto;
   
}
.jumbotron{
	width: 400px;
	height:800px;
	position:relative;
}
#gegevensjumbotron{
	display:flex;
}
#homepagejumbotron{
	width:800px;
	height:300px;
}
#inleiding-software{
	width:800px;
	height:150px;
}
#jumbotron-programmeer-talen{
	width:800px;
	height:200px;
}

	
