body {
	margin-bottom: 80px;
}
span{
	color:red;
}
legend{
	text-align:center;
	}

form{
	align:center ;
	
}
#login{
	text-align:right;
}


.carousel-inner{
	height:400px;
}
.carousel-inner > .item > img {
    margin: 0 auto;
   
}
.jumbotron{
	width: 400px;
	height:800px;
	position:relative;
}

#homepagejumbotron{
	width:800px;
	height:300px;
}
#jumbotron-inleiding-software{
	width:800px;
	height:150px;
	position:center;
}
#well-programmeer-talen{
	width:800px;
	height:180px;
}
.img-circle{
	
	width:75%;
	height:75%;
}
#imgsoftware{
	height:300px;
}


	
